/* Remove focus outline */
h1:focus {
    outline: none;
}
img {
    height: 20px; /* Set the height of the image */
    width: 20px; /* Set the width of the image */
    vertical-align: middle; /* Align the image vertically to the middle */
    margin-bottom: 5px; /* Add some top margin for spacing */
    margin-right: 5px;
}
/* Valid input style */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #59cd90; /* Light green */
}

/* Body styling */
body {
    background-color: #f2f2f2; /* Light gray background */
    color: #245d9e; /* Dark gray text */
    font-family: 'Cantarell', 'Liberation Sans', 'DejaVu Sans', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Invalid input style */
.invalid {
    outline: 1px solid #ff6767; /* Red */
}

/* Validation message */
.validation-message {
    color: #ff6767; /* Red */
}

/* Error boundary styling */
.blazor-error-boundary {
    background-color: #ffae42; /* Orange */
    color: white; /* White text color */
    padding: 1rem; /* Add padding for spacing */
    position: relative; /* Set position to relative */
}

/* Error message positioning */
.blazor-error-boundary::after {
    content: "An error has occurred."; /* Error message content */
    position: absolute; /* Position absolutely */
    top: 50%; /* Align to the vertical center */
    left: 2rem; /* Offset from the left */
    transform: translateY(-50%); /* Adjust vertical alignment */
}

/* Checkbox border color */
.darker-border-checkbox.form-check-input {
    border-color: #59cd90; /* Light green */
}

button {
    background-color: #007acc; /* Blue background */
    color: white; /* White text */
    font-size: 14px; /* Font size */
    padding: 0.5em 1em; /* Padding */
    border: none; /* No border */
    border-radius: 2px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    margin: 0.5em 0; /* Margin for spacing */
    font-family: 'Cantarell', 'Liberation Sans', 'DejaVu Sans', sans-serif; /* Common Linux fonts */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Hover effect */
button:hover {
    background-color: #005ea3; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight upward movement on hover */
}

/* Active effect */
button:active {
    background-color: #004080; /* Even darker blue when active */
    transform: translateY(0); /* Reset movement on click */
}

/* Remove borders for all nodes except root */
.treeview-node {
    border: none; /* Remove border for all nodes */
}

.root-treeview-node .treeview-node {
    border: 1px solid #59cd90; /* Light green border for root node */
}
